@using Plan_A_Trip.Models.Classes
@model List<Blog>
<div class="con-bot">
    @foreach (var x in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img src="@x.BlogImage" alt="" style="width:300px; height:150px;" />
            </div>
            <div class="left-text">
                <h4>@x.Title</h4>
                <span class="doller">@x.Date.ToString("dd/mm/yyyy")</span>
                <p>@x.Explanation.Substring(0,150)</p>
                <p><a href="/Blogs/BlogDetails/@x.Id"><span class="read">Read More >></span></a></p>
            </div>
        </div>
    }
    @Html.Action("Partial2", "Home")
    <div class="clear"></div>
</div>